/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

@media (prefers-reduced-motion: no-preference) {
    html {
        interpolate-size: allow-keywords;
    }
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

p {
    text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    text-wrap: balance;
}

#root,
#__next {
    isolation: isolate;
}

/* CSS Reset End */

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.app-container {
    display: grid;
    grid-template-columns: 1.5fr 3fr;
    height: 100%;
    gap: 2.5vw;
}

.left-panel {
    display: flex;
    flex-direction: column;
    /* padding-top: 20px; */
    margin-left: 2.5vw;
    gap: 35px;
    color: white;
    align-items: center;
}

.info-card {
    border-radius: 20px;
    width: 100%;
    text-align: center;
    border: 1px solid pink;
}

.preview-container {
    padding-top: 20px;
    border-radius: 20px;
    margin-right: 2.5vw;
    background-color: white;
}

footer {
    height: 45px;
    margin-top: auto;
    color: #b9bdc7;
    text-align: center;
    font-style: italic;
    font-size: 0.9rem;
}
